<aside>
  <h2>Projects</h2>
  <input-form
    (createNewName)="addProject($event)">
  </input-form>
  <projects
  [projects] = "projects"
  (selectProject)="selectProject($event)">
  </projects>
  <h2>Tasks</h2>
  <input-form
    (createNewName)="addTask($event)">
  </input-form>
  <tasks
  [tasks] = "tasks"
  [selectedProject]="selectedProject"
  (selectTask)="selectTask($event)"
  >
  </tasks>
</aside>
<project *ngIf="selectedProject"
  [edit] = "selectedProject"
  (deleteProject) = "deleteSelectedProject()">
</project>
<task *ngIf="selectedTask"
  [edit]="selectedTask"
  (deleteTask) = "deleteSelectedTask()">
</task>



