<aside>
  <h2>Projects</h2>
  <input-form
      (createNewName)="addProject($event)">
  </input-form>
  <projects
      [projects] = "projects"
      (select)="selectProject($event)"
      (delete)="deleteProject($event)">
  </projects>
  <h2>Tasks</h2>
  <input-form
      (createNewName)="addTask($event)">
  </input-form>
  <tasks *ngIf="selectedProject"
      [tasks]="selectedProjectTasks"
  >
  </tasks>
</aside>
<!--<project *ngIf="selectedProject"
      [edit] = "selectedProject"
      (deleteProject) = "deleteProject()"
      (enter)="enterNewNameForProject($event)"
      (escape)="unSelectProject()">
</project>-->




