<div *ngIf="!editing">
  <span (click)="selectProject()"
        [class.selected]="isSelected(project)">
    {{project.name}}</span>
  <button (click)="startEditing()">Edit</button>
  <button (click)="deleteThisProject()">
    Delete
  </button>
</div>
<div *ngIf="editing">
  <input type="text" placeholder="Enter New Name" #inputProjectName (keyup)="saveProject($event, inputProjectName)">
  <button (click)="updateProject(inputProjectName)">Save</button>
  <button (click)="returnInProjectList(inputProjectName)">Cancel</button>
</div>
